<template>
    <div id="app" style="background-color:white;">
        <Header></Header>
        <div class="clearfix"></div><br><br><br>
        <b-container style="background-color:white;padding:15px">
            <div id="topban2">
                <b-row class="justify-content-md-center">
                    <b-col sm="12" md="6" class="text-center">
                        <img src="../assets/pic_3.png" style="width:100%">
                    </b-col>
                    <b-col sm="12" md="5">
                        <h4>Sejarah Singkat</h4>
                        <p>
                            Dengan tagline “Your Sharia based P2P Financing” Syarfi mencoba menghubungkan antara investor dari berbagai negara dan masyarakat Indonesia yang membutuhkan dana untuk pembiayaan yang baik, pembiayaan layanan dan pembiayaan usaha di Indonesia, baik untuk satu individu atau perusahaan bisnis. 
                            <br><br>Semua kegiatan pendanaan murni syariah tanpa mengandung unsur maisir, gharar, riba dan bathil.Permohonan pembiayaan dapat dilakukan dimana pun dan kapan pun selama terkoneksi ke jaringan internet
                        </p>
                    </b-col>
                </b-row>
            </div>
            <div class="visimisi">
                 <b-row class="justify-content-md-center">
                    <b-col sm="12" md="3" class="text-center">
                        <h4>VISI, MISI & NILAI</h4>
                    </b-col>
                 </b-row>
                 <b-row class="justify-content-md-center">
                    <b-col sm="12" md="4" class="text-center">
                        <img src="../assets/visi.png"><br><br>
                        <b>VISI</b>
                        <p>Menjadi perusahaan berkelas dunia pada bidang teknologi finansial berbasis syariah</p>
                    </b-col>
                    <b-col sm="12" md="4" class="text-center">
                        <img src="../assets/misi.png"><br><br>
                        <b>MISI</b>
                        <p>Memanusiawikan Layanan Finansial Memberikan langkah yang mudah untuk memenuhi kebutuhan konsumen Memberikan layanan terbaik melalui peningkatan kualitas dalam semua aspek operasional</p>
                    </b-col>
                    <b-col sm="12" md="4" class="text-center">
                        <img src="../assets/nilai.png"><br><br>
                        <b>NILAI</b>
                        <p>Memanusiawikan Layanan Finansial Memberikan langkah yang mudah untuk memenuhi kebutuhan konsumen Memberikan layanan terbaik melalui peningkatan kualitas dalam semua aspek operasional</p>
                    </b-col>
                </b-row>
            </div>
        </b-container>
        <br>
        <div class="content_row8">
            <div class="contentcol2">
                <div class="row">
                    <div class="col-md-4 left">
                        <p>Copyrights © 2018 All Rights Reserved by Syarfi Inc.</p>
                        <p>Syarat & Ketentuan / Kebijakan Privasi</p>
                    </div>
                    <div class="col-md-4 center">
                        <p>salam@syarfi.id</p>
                        <p>(+62) 21 8378 2337</p>
                    </div>
                    <div class="col-md-4 right">
                        <p>PT. Syarfi Teknologi Finansial<br> Sinpasa Commercial Block C 07<br> Jl. Bulevar Selatan Kav 5 <br>Summarecon Bekasi 17143</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Home',
    data: function () {
        return {
        }
    },
    mounted: function() {
    
    },
    methods: {
        capitalize(value) {
				// console.log(value)
				if (!value) return ''
				value = value.toString()
                value = value.toLowerCase()
				return value.charAt(0).toUpperCase() + value.slice(1)
			},		
    }
}
</script>