<style>
body{
    background-color: white;
}
</style>
<template>
    <div id="app" style="background-color:white;padding:20px">
        <b-container style="background-color:white;padding:0px">
            <Header></Header><br><br><br>
            <b-row id="topban">
                    <b-col sm="12" md="6">
                        <b-row>
                            <b-col>
                                <h1>Your Shariah <span>P2P</span> Financing</h1>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <div class="text-quot">
                                    <img class="quotup" src="../assets/path_3.png"><br>
                                    <div class="text">
                                        Sebaik-baik manusia adalah yang paling berguan bagi sesamanya
                                    </div>
                                    <img class="quotdown" src="../assets/path_4.png">
                                    <b>HR. Ahmad</b>
                                    <div class="clearfix"></div>
                                    <b-button variant="outline-secondary" href="/#/Register">DAFTARKAN DIRI SAYA</b-button>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col class="bg justify-content-md-center" sm="12" md="6">
                        
                    </b-col>
            </b-row>
            <div>
                
            </div>

            <div class="content_row">
                <h4>MENGAPA MEMILIH SYARFI</h4>
                <b-row class="justify-content-md-center">
                    <b-col sm="6" md="2">
                        <img src="../assets/halal.png">
                        <h6>Halal</h6>
                        <p>Semua transaksi menjunjung tinggi prinsip-prinsip islam dan diawasi oleh Depan Penasihat Syariah</p>
                    </b-col>
                    <b-col sm="6" md="2">
                        <img src="../assets/aman.png">
                        <h6>Aman</h6>
                        <p>Operasional dilakukan oleh <br>profesional yang berpengalam di bidang keuangan dan merupakan lulusan dari universitas terbaik indonesia dan dunia</p>
                    </b-col>
                    <b-col sm="6" md="2">
                        <img src="../assets/mudah.png">
                        <h6>Mudah</h6>
                        <p>Proses administrasi yang<br>sederhana sekaligus<br> memudahkan</p>
                    </b-col>
                    <b-col sm="6" md="2">
                        <img src="../assets/cepat.png">
                        <h6>Cepat</h6>
                        <p>Pemrosesan transaksi dapat<br>dilakukan dimanapun dan<br>kapan pun serta menggunakan <br>sistem digital yang modern</p>
                    </b-col>
                    <b-col sm="6" md="2">
                        <img src="../assets/barakah.png">
                        <h6>Barakah</h6>
                        <p>tidak hayna menawarkan keuntungan untuk kedua belah pihak yang optimal, tetapi juga berkontribusi dalam memajukan ekonomi Indonesia memalui prinsip</p>
                    </b-col>
                </b-row>
            </div>

            <b-row class="justify-content-md-center content_row2">
                <b-col sm="12" md="6">
                    <div class="video text-center">
                        <img src="../assets/16467.jpg">
                    </div>
                </b-col>
                <b-col sm="12" md="6">
                    <div class="text">
                        <h4>OPINI MASYARAKAT</h4>
                        <p>Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf. Ia tidak hanya bertahan selama 5 abad, tapi juga telah beralih ke penataan huruf elektronik, tanpa ada perubahan apapun. Ia mulai dipopulerkan pada tahun 1960 dengan diluncurkannya lembaran-lembaran Letraset yang menggunakan kalimat-kalimat dari Lorem Ipsum, dan seiring munculnya perangkat lunak Desktop Publishing seperti Aldus PageMaker juga memiliki versi Lorem Ipsum.</p>
                        <br>
                        <b-button variant="info">Lihat selengkapnya di YOUTUBE</b-button>
                    </div>
                </b-col>
            </b-row>
            
            <div class="content_row3">
                <b-row class="justify-content-md-center">
                    <b-col col md="8">
                        <h4>PENGAJUAN PENDANAAN/PEMBIAYAAN MELALUI SYARFI</h4>
                    </b-col>
                </b-row>
                <b-row class="justify-content-md-center">
                    <b-col col md="4">
                        <h6>Berikan Pembiayan</h6><br><br>
                        <p>Semua kegiatan pendanaan murni <br>syariah tanpa mengandung unsur <br>maisir gharar riba dan bahtil<br> permohonan pendanaan dapat <br>dilakukan dimanapun dan kapanpun<br> selama terkoneksi dengan internet</p>
                        <b-button variant="outline-secondary">Mulai <br><b>PENDANAAN</b></b-button>
                    </b-col>
                    <b-col col md="4">
                        <h6>Ajukan Pembiayan</h6><br><br>
                        <p>Semua kegiatan pendanaan murni <br>syariah tanpa mengandung unsur <br>maisir gharar riba dan bahtil<br> permohonan pendanaan dapat <br>dilakukan dimanapun dan kapanpun<br> selama terkoneksi dengan internet</p>
                        <b-button variant="outline-secondary">Ajukan <br><b>PEMBIAYAAN</b></b-button>
                    </b-col>
                </b-row>
            </div>

            <div class="content_row4">
                <div class="contentcol">
                    <h4>TERDAFTAR DAN DIAWASI OLEH</h4>
                    <img src="../assets/logo/logo-ojk-indonesia.png">
                    <img src="../assets/logo/logofintechsyariah.png">
                    <img src="../assets/logo/logo-kominfo.png">
                    <img src="../assets/logo/logo_afpi_v1.png">
                    <img src="../assets/logo/logo-mui-s.png">
                    <img src="../assets/logo/IFT Logo.png">
                </div>
            </div>

            <div class="content_row5">
                <div class="contentcol">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>MEDIA COVERAGE</h4>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_row6">
                <div class="contentcol">
                    <div class="row">
                        <div class="col-md-4 one">
                            <img src="../assets/tersalurkan_ic.png">
                            <h4>2446M</h4>
                            <p>Sudah lebih dari 244M <br> dana tersalurkan</p>
                        </div>
                        <div class="col-md-4 two">
                            <img src="../assets/pengguna_ic.png">
                            <h4>1034</h4>
                            <p>Sudah lebih dari 1034 ribu<br> pengguna yang sudah<br>kami bantu untuk<br>pembiayaan</p>
                        </div>
                        <div class="col-md-4 three">
                            <img src="../assets/terdaftar_ic.png">
                            <h4>1412</h4>
                            <p>Terdaftar 1412 pengguna aktif<br>yang sudah bekerjasama<br>dengan kami</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content_row7">
                <div class="contentcol">
                    <h4>PARTNERSHIP SYARFI</h4>
                    <div class="partner">
                        <img src="../assets/logo/3_simpatindo.png">
                        <img src="../assets/logo/14_strivechem.png">
                        <img src="../assets/logo/bprs-alsalaam.png">
                        <img src="../assets/logo/bukalapak.png">
                        <img src="../assets/logo/10_global_tri_star.png">
                        <img src="../assets/logo/6_kopegtel.png">
                        <img src="../assets/logo/10_global_tri_star.png">
                        <img src="../assets/logo/2_siskem.png">
                        <img src="../assets/logo/awina_sinergi.png">
                    </div>
                </div>
            </div>
        </b-container>

        <div class="content_row8">
            <div class="contentcol">
                <h4>Disclaimer</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p>1. Layanan P2P Financing Syariah (atau Pembiayaan melalui teknologi informasi atau daring (online)) ini merupakan persetujuan dan kesepakatan antara Pemilik Dana dengan Pengguna Dana, sehingga segala risiko akan ditanggung oleh masing-masing pihak.</p>

                        <p>2. Risiko Pembiayaan atau gagal bayar sepenuhnya tanggungjawab oleh Pemilik Dana. Tidak ada lembaga atau otoritas negara yang bertanggungjawab atas Risiko Pembiayaan atau gagal bayar ini atau mengkompensasi pihak manapun atas kerugian, kerusakan, biaya atau konsekuensi yang timbul dari sehubungan dengan hal tersebut.</p>

                        <p>3. Penyelenggara dengan persetujuan dari masing-masing Pengguna (Pemilik Dana dan/atau Pengguna Dana) mengakses, memperoleh, menyimpan, mengelola dan/atau menggunakan data pribadi Pengguna (&ldquo;Pemanfaatan Data&rdquo;) pada atau di dalam benda, perangkat elektronik (termasuk smartphone atau telepon seluler), perangkat keras (hardware) maupun lunak (software), dokumen elektronik, aplikasi atau sistem elektronik milik Pengguna atau yang dikuasai Pengguna, dengan memberitahukan tujuan, batasan dan mekanisme Pemanfaatan Data tersebut kepada Pengguna yang bersangkutan sebelum memperoleh persetujuan yang dimaksud.</p>

                        <p>4. Pemilik Dana yang belum memiliki pengetahuan dan pengalaman terhadap layanan Pembiayaan ini, disarankan agar tidak menggunakan layanan Pembiayaan ini.</p>

                        <p>5. Pengguna Dana wajib mempertimbangkan tingkat bagi hasil / margin / ujroh serta biaya - biaya lainnya sesuai dengan kemampuan dalam melunasi pembiayaan.</p>
                    </div>
                    <div class="col-md-6">
                        <p>6. Setiap kecurangan yang terjadi akan tercatat secara elektronik di dunia maya dan dapat diketahui oleh masyarakat luas melalui media sosial.</p>

                        <p>7. Pengguna harus membaca dan memahami informasi ini sebelum membuat keputusan menjadi Pemilik Dana atau Pengguna Dana.</p>

                        <p>8. Pemerintah yaitu dalam hal ini Otoritas Jasa Keuangan, tidak bertanggung jawab atas setiap pelanggaran atau ketidakpatuhan oleh Pengguna, baik Pemilik Dana maupun Pengguna Dana (baik karena kesengajaan atau kelalaian Pengguna) terhadap ketentuan peraturan perundang-undangan maupun kesepakatan atau perikatan antara Penyelenggara dengan Pemilik Dana dan/atau Pengguna Dana.</p>

                        <p>9. Setiap transaksi dan kegiatan pemberian modal, pembiayaan, pinjam meminjam atau pelaksanaan kesepakatan mengenai pembiayaan antara atau yang melibatkan Penyelenggara, Pemilik Dana, Mitra Lapangan dan/atau Pengguna Dana wajib dilakukan melalui escrow account dan virtual account sebagaimana yang diwajibkan berdasarkan Peraturan Otoritas Jasa Keuangan Nomor 77/POJK.01/2016 tentang Layanan Pinjam Meminjam Uang Berbasis Teknologi Informasi dan pelanggaran atau ketidakpatuhan terhadap ketentuan tersebut merupakan bukti telah terjadinya pelanggaran hukum oleh Penyelenggara sehingga Penyelenggara wajib menanggung ganti rugi yang diderita oleh masing- masing Pengguna sebagai akibat langsung dari pelanggaran hukum tersebut di atas tanpa mengurangi hak Pengguna yang menderita kerugian menurut Kitab Undang-Undang Hukum Perdata.</p>
                    </div>
                </div>
            </div>
            <div class="contentcol2">
                <div class="row">
                    <div class="col-md-4 left">
                        <p>Copyrights © 2018 All Rights Reserved by Syarfi Inc.</p>
                        <p>Syarat & Ketentuan / Kebijakan Privasi</p>
                    </div>
                    <div class="col-md-4 center">
                        <p>salam@syarfi.id</p>
                        <p>(+62) 21 8378 2337</p>
                    </div>
                    <div class="col-md-4 right">
                        <p>PT. Syarfi Teknologi Finansial<br> Sinpasa Commercial Block C 07<br> Jl. Bulevar Selatan Kav 5 <br>Summarecon Bekasi 17143</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Home',
    data: function () {
        return {
        }
    },
    mounted: function() {
    
    },
    methods: {
        capitalize(value) {
				// console.log(value)
				if (!value) return ''
				value = value.toString()
                value = value.toLowerCase()
				return value.charAt(0).toUpperCase() + value.slice(1)
			},		
    }
}
</script>