<template>
    <div id="app">
        <Header></Header>
        <br><br><br>
        <div class="clearfix"></div>
        <b-container class="register_content">
            <b-row class="justify-content-md-center">
                <b-col sm="12" md="6">
                    <h4>Masuk Sebagai Pengguna Dana</h4><br><br>
                    <b-form class="formlogin" action="register"><br><br>
                        
                        <label for="email">Email</label>
                        <b-input v-model="email" id="email" type="email"></b-input>
                        <label class="error_validation">{{this.errors.email}}</label><br>

                        <label for="password">Sandi</label>
                        <b-input v-model="password" id="password" type="password"></b-input>
                        <label class="error_validation">{{this.errors.password}}</label><br><br>

                        <b-button variant="success" @click="recaptcha" v-on:click="submitForm()"> Login </b-button>
                    </b-form><br>
                </b-col>
                <b-col sm="12" md="6">
                    <img style="width:100%" src="../assets/Artboard 1.svg">
                </b-col>
            </b-row>
        </b-container>
        <div class="content_row8">
            <div class="contentcol2">
                <div class="row">
                    <div class="col-md-4 left">
                        <p>Copyrights © 2018 All Rights Reserved by Syarfi Inc.</p>
                        <p>Syarat & Ketentuan / Kebijakan Privasi</p>
                    </div>
                    <div class="col-md-4 center">
                        <p>salam@syarfi.id</p>
                        <p>(+62) 21 8378 2337</p>
                    </div>
                    <div class="col-md-4 right">
                        <p>PT. Syarfi Teknologi Finansial<br> Sinpasa Commercial Block C 07<br> Jl. Bulevar Selatan Kav 5 <br>Summarecon Bekasi 17143</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Login',
    data: function () {
        return {
            email:'',
            password:'',
            errors: {
                email:'',
                password:''
            },
            error_count:[],
            token:''
        }
    },
    mounted: function() {
        },
    methods: {
        async recaptcha() {
            await this.$recaptchaLoaded()
            this.token = await this.$recaptcha('login')
        },
        capitalize(value) {
            // console.log(value)
            if (!value) return ''
            value = value.toString()
            value = value.toLowerCase()
            return value.charAt(0).toUpperCase() + value.slice(1)
        },
        checkForm(){
            this.error_count = [];

            if (!this.email) {
                this.errors.email='Email wajib.';
                this.error_count.push(this.errors.email);
            }else if(this.email){
                if(!this.validateEmail(this.email)){
                    this.errors.email='Format email tidak benar.';
                    this.error_count.push(this.errors.email);
                }
            }

            if (!this.password) {
                this.errors.password='Sandi wajib.';
                this.error_count.push(this.errors.password);
            }

            if (!this.error_count.length) {
                return true;
            }else{
                return false;
            }
        },
        validatePassword(password) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            return re.test(password);
        },
        validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },

        submitForm(){
            var valid=this.checkForm();
            if(valid){
                axios.post('http://localhost:4000/User/Login/Pengguna', 
                {
                    email:this.email,
                    password:this.password,
                },
                {
                    auth: {
                        username: 'Syarfi',
                        password: 'MDRPANTARA91HOST'
                    }   
                }
                )
                .then((res) => {
                    if(res.data.status=="success"){
                        this.$swal(res.data.message);
                        this.email=""
                        this.password=""
                        this.$session.start()
                        this.$session.set('user', res.data.result)
                        this.$router.push('/panel')
                    }else{
                        this.$swal(res.data.message);
                    }
                }).catch((res) => {
                    console.log(res)
                })
            }
        }
    }
}
</script>