<style>
body{
    background-color: whitesmoke;
}
</style>
<template>
    <div id="app">
        <Header2></Header2>
        <br><br><br>
        <b-container class="bv-example-row">
            <b-row class="justify-content-md-center">
                <b-col col md="3" class="sidebar">
                    <div class="text-center">
                        <img src="../assets/user.png" style="width:140px;height:140px;margin-top:40px; margin-bottom:10px" class="rounded-circle"><br>
                        <p>Selamat Datang</p>
                        <p>
                            <b>{{user.pengguna_name}}</b><br>
                            <small>{{user.pengguna_email}}</small>
                        </p>
                        <b-badge pill v-bind:variant="[isActive ? 'success' : 'primary']">Menunggu Verifikasi</b-badge>
                    </div>
                </b-col>
                <b-col col md="8" class="content">
                    <h5>Step 1 informasi pribadi</h5>
                    <hr>
                    <b-form class="formverifikasi" action="register">
                            <b-row>
                                <b-col col md="6">

                                    <label>Nik KTP</label>
                                    <b-input v-model="nik" placeholder="Nik"></b-input>
                                    <label class="error_validation">{{this.errors.nik}}</label><br>

                                    <label>Jenis kelamin</label>
                                    <b-form-select v-model="jenis_kelamin" :options="options_jk" class="mb-3">
                                        <template v-slot:first>
                                            <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                                        </template>
                                    </b-form-select>
                                    <label class="error_validation">{{this.errors.jenis_kelamin}}</label><br>

                                    <label>Tempat & Tanggal lahir</label>
                                    <b-row>
                                        <b-col col md="6">
                                            <b-input v-model="tempat_lahir" placeholder="Tempat"></b-input>
                                        </b-col>
                                        <b-col col md="6">
                                            <date-picker v-model="date" :config="{format: 'YYYY-MM-DD'}" placeholder="Tanggal"></date-picker>
                                        </b-col>
                                    </b-row>
                                    <label class="error_validation">{{this.errors.tempat_lahir}} {{this.errors.tgl_lahir}}</label><br>

                                    <label>Status pernikahan</label>
                                    <b-form-select v-model="status_menikah" :options="options_mk" class="mb-3">
                                        <template v-slot:first>
                                            <b-form-select-option :value="null" disabled>-- Please select an option --</b-form-select-option>
                                        </template>
                                    </b-form-select>
                                    <label class="error_validation">{{this.errors.status_menikah}}</label><br>

                                </b-col>

                                <b-col md="6">
                                    <label>Foto/Scan KTP</label>
                                    <b-form-group>
                                        <b-form-file v-on:change="onFileChange" target-view="ktp"></b-form-file>
                                    </b-form-group>
                                    <label class="error_validation">{{this.errors.foto_ktp}}</label><br>
                                    
                                    <label>Foto selfie diri anda</label>
                                    <b-form-group>
                                        <b-form-file v-on:change="onFileChange" target-view="selfie"></b-form-file>
                                    </b-form-group>
                                    <label class="error_validation">{{this.errors.foto_selfie}}</label><br>
                                    
                                    <img v-if="url_ktp" :src="url_ktp" class="img-thumbnail" style="width:120px;height:120px;margin-right:5px">
                                    <img v-if="url_selfie" :src="url_selfie" class="img-thumbnail" style="width:120px;height:120px;margin-right:5px">
                                </b-col>
                            </b-row>

                        

                    </b-form><br><br><br>
                    <b-button class="float-right" variant="primary" @click="recaptcha" v-on:click="submitForm()"> Selanjutnya </b-button>
                </b-col>
            </b-row>
        </b-container>
        <Footer></Footer>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Panel',
    data: function () {
        return {
            nik:'',
            jenis_kelamin: null,
            tempat_lahir:'',
            tgl_lahir:'',
            status_menikah:'',
            foto_ktp:'',
            foto_selfie:'',
            errors: {
                nik:'',
                jenis_kelamin:'',
                tempat_lahir:'',
                tgl_lahir:'',
                status_menikah:'',
                foto_ktp:'',
                foto_selfie:'',
            },
            error_count:[],
            user:this.$session.get('user'),
            isActive: false,
            url_ktp:'',
            url_selfie:'',
            options_jk: [
                { value: 'L', text: 'Laki-laki' },
                { value: 'P', text: 'Perempuan' }
            ],
            options_mk: [
                { value: 'menikah', text: 'Sudah Menikah' },
                { value: 'belum', text: 'Belum Menikah' }
            ]
        }
    },
    beforeCreate: function () {
        if (!this.$session.exists()) {
            this.$router.push('/Login')
        }
    },
    mounted: function() {
        if(this.user.pengguna_status==1){
            this.isActive=true;
        }else{
            this.isActive=false;
        }
    },
    methods: {
        capitalize(value) {
            // console.log(value)
            if (!value) return ''
            value = value.toString()
            value = value.toLowerCase()
            return value.charAt(0).toUpperCase() + value.slice(1)
        },
        onFileChange(e) {
            const file = e.target.files[0];
            var target_view = e.target.getAttribute('target-view');
            if(target_view=='ktp'){
                this.url_ktp = URL.createObjectURL(file);
            }else{
                this.url_selfie = URL.createObjectURL(file);
            }
        },
        checkForm(){
            this.error_count = [];

            if (!this.email) {
                this.errors.email='Email wajib.';
                this.error_count.push(this.errors.email);
            }else if(this.email){
                if(!this.validateEmail(this.email)){
                    this.errors.email='Format email tidak benar.';
                    this.error_count.push(this.errors.email);
                }
            }

            if (!this.password) {
                this.errors.password='Sandi wajib.';
                this.error_count.push(this.errors.password);
            }

            if (!this.error_count.length) {
                return true;
            }else{
                return false;
            }
        },
        validatePassword(password) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            return re.test(password);
        },
        validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },

        submitForm(){
            var valid=this.checkForm();
            if(valid){
                axios.post('http://localhost:4000/User/Login/Pengguna', 
                {
                    email:this.email,
                    password:this.password,
                },
                {
                    auth: {
                        username: 'Syarfi',
                        password: 'MDRPANTARA91HOST'
                    }   
                }
                )
                .then((res) => {
                    if(res.data.status=="success"){
                        this.$swal(res.data.message);
                        this.email=""
                        this.password=""
                    }else{
                        this.$swal(res.data.message);
                    }
                }).catch((res) => {
                    console.log(res)
                })
            }
        }
    }
}
</script>