<template>
    <div id="app">
        <Header></Header>
        <br><br><br>
        <div class="clearfix"></div>
        <b-container class="register_content">
            <b-row class="justify-content-md-center" style="padding:50px 50px 0px 50px">
                <b-col col md="12">
                    <h4>Mendaftar Sebagai Pengguna Dana</h4><br>
                    <p>Di area akun Anda, Anda akan dapat memeriksa status kredit Anda yang terbuka, mengajukan kredit baru, dan mengubah data pribadi Anda.</p><br>
                </b-col>
            </b-row>
            <b-row class="justify-content-md-center">
                <b-col sm="12" md="6">
                    <b-form class="formregistrasi" action="register">

                        <label for="email">Nama langkap</label>
                        <b-input v-model="name" id="name" type="name"></b-input>
                        <label class="error_validation">{{this.errors.name}}</label><br>

                        <label for="email">phone</label>
                        <b-input v-model="phone" id="phone" type="phone"></b-input>
                        <label class="error_validation">{{this.errors.phone}}</label><br>
                        
                        <label for="email">Email</label>
                        <b-input v-model="email" id="email" type="email"></b-input>
                        <label class="error_validation">{{this.errors.email}}</label><br>

                        <label for="password">Sandi</label>
                        <b-input v-model="password" id="password" type="password"></b-input>
                        <label class="error_validation">{{this.errors.password}}</label><br>

                        <label for="re_password">Konfirmasi Sandi</label>
                        <b-input v-model="re_password" id="re_password" type="password"></b-input>
                        <label class="error_validation">{{this.errors.re_password}}</label><br>
                    </b-form><br>
                    <b-button variant="success" @click="recaptcha" v-on:click="submitForm()"> Register </b-button>
                </b-col>
                <b-col sm="12" md="6">
                    <img style="width:100%" src="../assets/Artboard 1.svg">
                </b-col>
            </b-row>
        </b-container>

        <div class="content_row8">
            <div class="contentcol2">
                <div class="row">
                    <div class="col-md-4 left">
                        <p>Copyrights © 2018 All Rights Reserved by Syarfi Inc.</p>
                        <p>Syarat & Ketentuan / Kebijakan Privasi</p>
                    </div>
                    <div class="col-md-4 center">
                        <p>salam@syarfi.id</p>
                        <p>(+62) 21 8378 2337</p>
                    </div>
                    <div class="col-md-4 right">
                        <p>PT. Syarfi Teknologi Finansial<br> Sinpasa Commercial Block C 07<br> Jl. Bulevar Selatan Kav 5 <br>Summarecon Bekasi 17143</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'Register',
    data: function () {
        return {
            name:'',
            phone:'',
            email:'',
            password:'',
            re_password:'',
            errors: {
                name:'',
                phone:'',
                email:'',
                password:'',
                repassword:''
            },
            error_count:[],
            token:''
        }
    },
    mounted: function() {
        },
    methods: {
        async recaptcha() {
            await this.$recaptchaLoaded()
            this.token = await this.$recaptcha('login')
        },
        capitalize(value) {
            // console.log(value)
            if (!value) return ''
            value = value.toString()
            value = value.toLowerCase()
            return value.charAt(0).toUpperCase() + value.slice(1)
        },
        checkForm(){
            this.error_count = [];
            
            if (!this.name) {
                this.errors.name='Nama langkap wajib.';
                this.error_count.push(this.errors.name);
            }

            if (!this.phone) {
                this.errors.phone='Nomor phone wajib.';
                this.error_count.push(this.errors.phone);
            }

            if (!this.email) {
                this.errors.email='Email wajib.';
                this.error_count.push(this.errors.email);
            }else if(this.email){
                if(!this.validateEmail(this.email)){
                    this.errors.email='Format email tidak benar.';
                    this.error_count.push(this.errors.email);
                }
            }

            if (!this.password) {
                this.errors.password='Sandi wajib.';
                this.error_count.push(this.errors.password);
            }else if(this.password){
                if(!this.validatePassword(this.password)){
                    this.errors.password='8 - 15 karakter, minimal 1 huruf kecil, minimal 1 hurup besar, minimal 1 angka, memakai tanda baca ! atau @ ';
                    this.error_count.push(this.errors.password);
                }
            }

            if (!this.re_password) {
                this.errors.re_password='Konfirmasi sandi wajib.';
                this.error_count.push(this.errors.re_password);
            }else if(this.re_password!=this.password){
                this.errors.re_password='Password tidak sama';
                this.error_count.push(this.errors.re_password);
            }

            if (!this.error_count.length) {
                return true;
            }else{
                return false;
            }
        },
        validatePassword(password) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            return re.test(password);
        },
        validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },

        submitForm(){
            var valid=this.checkForm();
            if(valid){
                axios.post('http://localhost:4000/User/Register/Pengguna', 
                {
                    name:this.name,
                    email:this.email,
                    phone:this.phone,
                    password:this.password,
                },
                {
                    auth: {
                        username: 'Syarfi',
                        password: 'MDRPANTARA91HOST'
                    }   
                }
                )
                .then((res) => {
                    if(res.data.status=="success"){
                        this.$swal(res.data.message);
                        this.name=""
                        this.email=""
                        this.phone=""
                        this.password=""
                        this.re_password=""

                    }else{
                        this.$swal(res.data.message);
                    }
                }).catch((res) => {
                    console.log(res)
                })
            }
        }
    }
}
</script>