@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font:Regular 14px/26px Montserrat;
}



#navbar{
    border-bottom: 1px #fff solid;
    margin-bottom: 40px;
    font-weight: bold;
    background-color: white;
}

#topban{
    height: auto;
    min-height: 500px;
    width: auto;
    margin-bottom: 20px;
}

#topban .bg{
    display: inline-block;
    width: 100%;
    height: 400px;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-image: url('~@/assets//pic_1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#topban h1{
    font-weight: bold;
    margin-top:20px;
}

#topban span{
    color: #1abc9c;
}


#topban .text-quot{
    padding:5px;
    margin-top: 20px;
    width:auto;
    max-width:400px;
}

#topban .text-quot .text{
    margin-top: 20px;
    font-size: 1.4em;
    font-style: italic;
}

#topban .text-quot .quotdown{
    float: right;
    width: 10%;
}

#topban .text-quot .quotup{
    width: 10%;
}

#topban .text-quot b{
    float: right;
    margin-top: 2px;
    margin-right: 40px;
    margin-bottom: 5px;
    font-size: 1.3em;
    font-weight: bold;
}

#topban .text-quot .btn{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 40px;
    margin:80px 5px 5px 5px;
    width: 95%;
    text-align: center;
}

.content_row{
    margin-top: 0px;
    margin-bottom: 40px;
    padding:10px 0px 20px 0px;
    width: auto;
}

.content_row h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    border-left: 14px #1abc9c solid;
    margin-top:20px;
    margin-bottom:100px;
}

.content_row .row .col-md-2{
    height: 300px;
    margin-right: 10px;
    padding:3px;
    text-align: center;
}

.content_row .row .col-md-2 h6{
    color: #1abc9c;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

.content_row .row .col-md-2 p{
    font-size: 0.9em;
    padding:5px
}

.content_row2 .col-md-6{
    margin-top:40px
}
.content_row2{
    margin-top: 40px;
    margin-bottom: 40px;
    padding:80px 0px 20px 0px;
    width: auto;
    height: auto;
    min-height: 600px;
}
.content_row2{
    background-image: url('~@/assets//pic_2.png');
    background-repeat: no-repeat;
    background-position-x: -302%;
    background-position-y: 44%;
    background-size: 960px 900px;
}


.content_row2 .video img{
    width: 95%;
    height: 95%;
}

.content_row2 .text{
    padding: 0px 10px 0px 10px;
}

.content_row2 h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    border-left: 14px #1abc9c solid;
    margin-bottom:20px;
}

.content_row2 p{
    font-size: 0.9em;
}

.content_row3{
    margin-top: 20px;
    margin-bottom: 40px;
    padding:10px 0px 20px 0px;
    width: auto;
}

.content_row3{
    height: auto;
    min-height: 600px;
    text-align: center;
}

.content_row3 h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-bottom: 30px;
    border-left: 14px #1abc9c solid;
}

.content_row3 .col-md-4{
    height: 400px;
}

.content_row3 h6{
    color: #1abc9c;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

.content_row3 p{
    font-size: 0.9em;
}

.content_row3 .btn{
    margin-top: 40px;
    width: 300px;
}

.content_row4{
    margin-top: 0px;
    margin-bottom: 100px;
    padding:0px 0px 20px 0px;
    width: auto;
}

.content_row4 .contentcol{
    background-color: #eceff1;
    border-top: 1px solid white;
    padding-bottom: 20px;
}

.content_row4 .contentcol h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-left: 14px #1abc9c solid;
}

.content_row4 .contentcol img{
    margin:20px;
    width: 12%;
    height: 25%;
}

.content_row5{
    margin-top: 0px;
    padding:10px 0px 20px 0px;
    width: auto;
}

.content_row5 .contentcol{
    height: 350px;
}

.content_row5 .contentcol h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-left: 40px;
    border-left: 14px #1abc9c solid;
}

.content_row5 .contentcol .col-md-4{
    padding: 20px;
    height: 350px;
}

.content_row6{
    margin-top: 80px;
    margin-bottom: 100px;
    padding:10px 0px 20px 0px;
    width: auto;
}

.content_row6.contentcol{
    height: 350px;
}

.content_row6 .contentcol h4{
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 40px;
}

.content_row6 .contentcol p{
    margin-top: 20px;
    font-size: 0.9em;
}

.content_row6 .contentcol .col-md-4{
    padding: 60px;
    height: 400px;
    text-align: center;
    color: white;
}

.content_row6 .contentcol .one{
    background-color:#00ca96;
}

.content_row6 .contentcol .two{
    background-color:#1abc9c;
}

.content_row6 .contentcol .three{
    background-color:#1c845e;
}

.content_row7{
    margin-top: 0px;
    margin-bottom: 100px;
    padding:10px 0px 20px 0px;
    width: auto;
}

.content_row7 .contentcol{
    border:1px white solid;
}

.content_row7 .contentcol h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-left: 40px;
    border-left: 14px #294b87 solid;
}

.content_row7 .contentcol img{
    margin:20px 56px 20px 56px;
}

.content_row7 .contentcol .partner{
    text-align: center;
}

.content_row8{
    margin-top: 0px;
    width: auto;
}
.content_row8 .contentcol{
    height: auto;
    min-height: 620px;
    background: rgb(41,75,135);
    background: linear-gradient(90deg, rgba(41,75,135,1) 0%, rgba(32,128,138,1) 57%, rgba(59,181,126,1) 100%);
    border-top: 1px solid white;
}
.content_row8 .contentcol h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-left: 14px #1abc9c solid;
    color:white
}

.content_row8 .contentcol p{
    margin-top: 20px;
    font-size: 0.8em;
    color:white;
    margin-left: 40px;
    margin-right: 40px;
}

.content_row8 .contentcol2{
    height: 180px;
    background: #00BD9C 0% 0% no-repeat padding-box;
    border: 1px #00BD9C solid;
    padding:40px
}

.content_row8 .contentcol2 p{
    font-size: 0.8em;
    color:white;
}
.content_row8 .contentcol2 .left{
    text-align: left;
}
.content_row8 .contentcol2 .center{
    text-align: center;
}
.content_row8 .contentcol2 .right{
    text-align: right;
}


.register_content {
    padding: 20px;
    background-color: whitesmoke;
}

.register_content img{
    margin-top: 80px;
}

.register_content .col-md-6{
    padding: 50px;
}

.register_content p {
    font-size: 0.8em;
}
.register_content h4 {
    font-weight: 700;
    font-size: 1.4em;
}

.error_validation{
    font-size: 0.8em;
    color:red;
}
.formregistrasi{
    background-color: white;
    padding:20px;
}

.formlogin {
    background-color: white;
    padding: 20px;
}


.footer {
    margin-top: 0px;
    width: auto;
}

.footer .contentcol {
    height: 620px;
    background: rgb(41, 75, 135);
    background: linear-gradient(90deg, rgba(41, 75, 135, 1) 0%, rgba(32, 128, 138, 1) 57%, rgba(59, 181, 126, 1) 100%);
    border-top: 1px solid white;
}

.footer .contentcol h4 {
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-left: 40px;
    border-left: 14px #1abc9c solid;
    color: white
}

.footer .contentcol p {
    margin-top: 20px;
    font-size: 0.8em;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.footer .contentcol2 {
    height: 180px;
    background: #00BD9C 0% 0% no-repeat padding-box;
    border: 1px #00BD9C solid;
    padding: 40px
}

.footer .contentcol2 p {
    font-size: 0.8em;
    color: white;
}

.footer .contentcol2 .left {
    text-align: left;
}

.footer .contentcol2 .center {
    text-align: center;
}

.footer .contentcol2 .right {
    text-align: right;
}

.sidebar{
    min-height:600px;
    border:1px solid #efefef;
    margin-right:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 6px;
}

.content{
    min-height:600px;
    border:1px solid #efefef;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 6px;
}

.content h5{
    color: #1abc9c;
    margin-top:15px
}

.content hr{
    border: 1.2px #1abc9c solid;
    border-radius: 8px;
}

#topban2 {
    margin-top:60px;
    margin-bottom:60px;
}

#topban2 p{
    margin-top: 20px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
}

#topban2 h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    border-left: 14px #1abc9c solid;
}

.visimisi{
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.visimisi h4{
    font-weight: 700;
    font-size: 1.4em;
    padding: 5px 15px 5px 15px;
    margin-top: 40px;
    margin-bottom: 100px;
    border-left: 14px #E3CF48 solid;
}

.visimisi img{
    width: 160px;
    height: 150px;
}

.visimisi p{
    margin-top: 20px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
}
