<template>
  <div id="app">
    <div class="footer">
        <div class="contentcol2">
            <div class="row">
                <div class="col-md-4 left">
                    <p>Copyrights © 2018 All Rights Reserved by Syarfi Inc.</p>
                    <p>Syarat & Ketentuan / Kebijakan Privasi</p>
                </div>
                <div class="col-md-4 center">
                    <p>salam@syarfi.id</p>
                    <p>(+62) 21 8378 2337</p>
                </div>
                <div class="col-md-4 right">
                    <p>PT. Syarfi Teknologi Finansial<br> Sinpasa Commercial Block C 07<br> Jl. Bulevar Selatan Kav 5 <br>Summarecon Bekasi 17143</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer'
}
</script>