<template>
  <div id="app">
    <b-navbar toggleable="lg" type="light" variant="default" style="background-color:white" fixed="top" id="navbar2">
        <b-navbar-brand href="#"><img src="../assets/logo/syarfi_ojk_logo.png"></b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>

            <b-navbar-nav class="ml-auto">
                <b-navbar-nav right>
                    <b-nav-item href="#">Butuh bantuan? (+62) 2183782337</b-nav-item>
                    <b-nav-item v-on:click="logout">Logout</b-nav-item>
                </b-navbar-nav>

            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: 'Header2',
  methods: {
    logout: function () {
      this.$session.destroy()
      this.$router.push('/Login')
    }
  }
}
</script>