<template>
  <div id="app">
    <b-navbar toggleable="lg" type="light" variant="default" fixed="top" id="navbar">
        <b-navbar-brand href="/#/"><img src="../assets/logo/syarfi_ojk_logo.png"></b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>

            <b-navbar-nav class="ml-auto">
                <b-navbar-nav right>
                    <b-nav-item href="#">Butuh bantuan? (+62) 2183782337</b-nav-item>
                    <b-nav-item href="/#/About">TENTANG KAMI</b-nav-item>
                    <b-nav-item href="#">PEMILIK DANA</b-nav-item>
                    <b-nav-item href="#">PENGGUNA DANA</b-nav-item>
                    <b-nav-item href="/#/Login">MASUK</b-nav-item>
                </b-navbar-nav>

            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: 'Header'
}
</script>